
<style>
  .categories{
    padding: 8px;
    font-weight:bold;
    font-color:blue;
  }

  .category-keywords{
    font-size:small;
    text-align:center;
    font-weight:normal;    
  }
</style>
<% content_for :title do %>
	<%= @category.title %>
<% end %>

<div class="category-category-keywords">
  <h2> <%= @category.title %> </h2>

  <table cellspacing='10' cellpadding='5'>
    <% 0.step(@category_keywords.size - 1, 5) do |index| %>
      <tr>
        <td>
          <% if index_within_category_array?(index, @category_keywords) %>
            <%= link_to "#{@category_keywords[index].keyword}", @production_url_ + "#{sanitize_title(@category_keywords[index].keyword)}", :class=>'categories' %>
          <% end %>
        </td>

          <td>
            <% if index_within_category_array?(index + 1, @category_keywords) %>
              <%= link_to "#{@category_keywords[index + 1].keyword}", @production_url_ + "#{sanitize_title(@category_keywords[index + 1].keyword)}", :class=>'categories' %>
            <% end %>
          </td>

            <td>
              <% if index_within_category_array?(index + 2, @category_keywords) %>
                <%= link_to "#{@category_keywords[index + 2].keyword}", @production_url_ + "#{sanitize_title(@category_keywords[index + 2].keyword)}", :class=>'categories' %>
              <% end %>
            </td>

              <td>
                <% if index_within_category_array?(index + 3, @category_keywords) %>
                  <%= link_to "#{@category_keywords[index + 3].keyword}", @production_url_ + "#{sanitize_title(@category_keywords[index + 3].keyword)}", :class=>'categories' %>
                <% end %>
              </td>
              <td>

              <td>
                <% if index_within_category_array?(index + 4, @category_keywords) %>
                  <%= link_to "#{@category_keywords[index + 4].keyword}", @production_url_ + "#{sanitize_title(@category_keywords[index + 4].keyword)}", :class=>'categories' %>
                <% end %>
              </td>
              <td>



              </tr>
            <% end %>
          </table>
</div>
